<nav>
	<ul>
		<li><a href="{{ url('home') }}">Home</a></li
		><li><a href="">Search</a></li
		><li><a href="">Userlist</a></li
		><li><a href="{{ url('sign-in') }}">Sign in</a></li
		><li><a href="{{ url('sign-up') }}">Sign up</a></li>
	</ul>
</nav>